@import "./reset.css";

html {
  background-color: #fefefe;
  scroll-padding-block-start: 150px;
  scroll-behavior: smooth;
}

/* Release the lobotomised owls! */
:is(
  main,
  section,
) > * + * {
  margin-top: 1.25em;
}

.spaced {
  & > * + * {
    margin-top: 1.25em;
  }
}