.two-column {
  display: grid;
  grid-gap: 1.5rem;

  @supports (width: min(250px, 100%)) {
    & {
      grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    }
  }

  & > * {
    min-width: 50%;
  }
}
.top_trump{
  & table {
      width: 100%;
      border: thin var(--jrf-dark-blue) solid;
  & tr, td {
      width: 33%;
      background-color: var(--jrf-pink);
      text-align: center;
      color: white
    }
  & th {
      color: white;
  }
  }
}
.top_trump_invert{
  & table {
    width: 100%;
    border: thin var(--jrf-pink) solid;
  & tr, td, th {
      width: 33%;
      background-color: var(--jrf-dark-blue);
      text-align: center;
      color: white
    }
  & th {
      color: white;
    }
  }
}