body > nav {
  --nav-colour: var(--jrf-dark-grey);
  --nav-background: var(--jrf-moderate-cyan);
  color: var(--nav-colour);
  background-color: var(--nav-background);
  text-align: center;
  & button {
    color: unset;
    background-color: unset;
    border: unset;
    color: unset;
    font: unset;
  }
  & ul {
    list-style-type: none;
  }
  & .menu {
    padding-block: 0;
    background-color: inherit;
    & li {
      background-color: inherit;
    }
    z-index: 10001;
    & :is(button, a) {
      padding: 0.5em;
      display: block;
      &:hover {
        color:  var(--nav-background);
        background-color: var(--nav-colour);
      }
    }
  }
  & > .menu {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    & .menu {
      position: absolute;
      text-align: left;
      box-shadow: 0 .125rem .3125rem 0 hsla(0,0%,40%,.5);
      & li {
        padding: 0;
      }
    }
  }
  & a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}