body > header {
  font-family: HouschkaAltPro-Medium,sans-serif;
  text-transform: uppercase;
  background-color: #eee;
  & h1 {
    color: var(--jrf-pink);
    font-size: min(2em, 7vw);
  }
}

body > footer {
  color: white;
  background-color: #343333;
  margin-top: 5rem;

  & .contributors {
    display: flex;
    gap: 1em;
    align-items: center;
    list-style: none;
    & svg, img[inline] {
      max-height: 2em;
      width: auto;
    }
  }
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 10000;
}

.warning {
  background: var(--jrf-strong-pink);
  color: white;
  text-align: center;
}
