
body {
  font-size: clamp(1rem, 2vw, 1.5rem);
  line-height: 1.5;
}
body > header {
  font-family: HouschkaAltPro-Medium,sans-serif;
  text-transform: uppercase;
  background-color: #eee;
  & > .page-flow {
    display: flex;
    gap: 1em;
    align-items: center;
    & > *:first-child {
      flex-grow: 1;
    }
  }
  & svg {
    max-height: 4rem;
    width: auto;
  }
  & h1 {
    color: var(--jrf-pink);
  }
  & ul {
    display: table;
    margin: auto;
  }
}
.oi-dashboard {
  font-size: 1.5rem;
  & > * {
    margin-top: 0;
  }
  & .bignum {
    font-size: 2em;
  }
}
@media screen {
  .oi-dashboard .panel {
    font-size: unset;
  }
}

body > nav {
  color: white;
  background-color: var(--jrf-moderate-cyan);
  text-align: center;
  font-size: 1.1rem;
  & li:hover {
    color:  var(--jrf-moderate-cyan);
    background-color: white;
  }
  & a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}
.button {
  padding-block: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  & li {
    padding: 0.5em;
  }
}
.sticky-top {
  position: sticky;
  top: 0;
}

.warning {
  background: var(--jrf-strong-pink);
  color: white;
  text-align: center;
  z-index: 100;
}

.oi-legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  & * + * {
    margin-top: 0;
  }
  & .legend-item {
    gap: 0.3em;
    display: flex;
    align-items: center;
  }
}