
body > header {
  font-family: HouschkaAltPro-Medium,sans-serif;
  text-transform: uppercase;
  background-color: #eee;
  & > .page-flow {
    display: flex;
    gap: 1em;
    align-items: center;
    & > *:first-child {
      flex-grow: 1;
    }
  }
  & svg, img[inline] {
    max-height: 4rem;
    width: auto;
  }
  & h1 {
    color: var(--jrf-pink);
  }
  & ul {
    display: table;
    margin: auto;
  }
}

.oi-dashboard {
  font-size: 1.5rem;
  & > * {
    margin-top: 0;
  }
  & .bignum {
    font-size: 2em;
  }
}
@media screen {
  .oi-dashboard .panel {
    font-size: unset;
  }
}


.sticky-top {
  position: sticky;
  top: 0;
  z-index: 10000;
}

.warning {
  background: var(--jrf-strong-pink);
  color: white;
  text-align: center;
}

.oi-legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  & * + * {
    margin-top: 0;
  }
  & .legend-item {
    gap: 0.3em;
    display: flex;
    align-items: center;
  }
}
table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  text-align: center;
}
tr:nth-child(odd) {background-color: #dbdbdb;}
tr.here { background-color: yellow; }

a.broken {
  border: 5px solid red;
  pointer-events: none;
  cursor: default;
  text-decoration: line-through;
}
.missing > .grid-block.headline{
      background: repeating-linear-gradient(
        -45deg,
        red,
        red 20px,
        grey 20px,
        grey 40px
      );
  }