---
title: Place Index
url: /place/
---

{% for pages in [
  search.pages("place type=PANRGN22", "title"),
  search.pages("place type=CAUTH22", "title"),
  search.pages("place type=CTY22", "title"),
  search.pages("place type=RGN22", "title"),
  search.pages("place type=LAD22", "title"),
  search.pages("place type=WD22", "title")
] %}
{% if (pages | length) > 0 %}
<h2>{{ comp.place.type({ id: pages[0].key }) | safe }}</h2>
{% comp 'grid.auto' %}
{% for page in pages %}
  {% comp "link.block_link", { href: page.url, style: "--normal-background:var(--jrf-purple);" } %}
  {% comp 'grid.block' %}
  {{ page.title }}
  {% endcomp %}
  {% endcomp %}
{% endfor %}
{% endcomp %}
{% endif %}
{% endfor %}