[requires]
python_version = "3.10"

[packages]
statxplore = "*"
dvc = "*"
pandas = "*"
statxplorer = {file = "https://github.com/philipbrien/statxplorer/zipball/master"}
jupyter = "*"
notebook = "*"
papermill = "*"
ipykernel = "*"
black = "*"
fastparquet = "*"
geopandas = "*"
pyarrow = "*"
progress = "*"
matplotlib = "*"
fingertips-py = "*"
