---
title: People
---
<h2> Number of Chidren in Low Income* in {{example.stats.latest_date | replace("(covid2122, div)", '') }}</h2>
{{ comp.oi.chart.line({
    config: {
      "legend": { 
        "show": true
      },
      "data": example.line_chart.rows,
      "axis": {
            "x": {
              "title": {
                "label": "Year"
                }
              },
            "y": {
              "title": {
                "label": "Number of People"
              },
              "grid": {
                "show": true
              },
              "tickSpacing": 100000,
              "min": 0,
              "max": 500000
            }
          },
      "series": [
        {
        "title": "North East (E12000001)",
        "x": "Financial Year",
        "y": "North East (E12000001)",
        "colour": "#13242F",
        "line": {
          "stroke-dasharray": "0 10"
          }
        },
        {
        "title": "North West (E12000002)",
        "x": "Financial Year",
        "y": "North West (E12000002)",
        "colour": "#ce0058",
        "line": {
          "stroke-dasharray": "2 10"
          }
        },
        {
        "title": "Yorkshire and The Humber (E12000003)",
        "x": "Financial Year",
        "y": "Yorkshire and The Humber (E12000003)",
        "colour": "#3EB1C8",
        "line": {
          "stroke-dasharray": "4 10"
          }
        }
      ]
    }
    })| safe
}}
<p> *Below 60 per cent of median net household income (BHC) in latest prices</p>