{% set economic_inactivity_16_64 = this_place_data['economic_inactivity_16_64'] %}
{% set unemployment_16_64 = this_place_data['unemployment_rate_16_64'] %}

{% comp 'layout.stack' %}
    {{ comp.info.headline({
        number: economic_inactivity_16_64,
        display: economic_inactivity_16_64,
        description: 'Rate of economic inactivity for 16-64 year-olds'
        }) | safe }}
    {{ comp.info.headline({
        number: unemployment_16_64,
        display: unemployment_16_64,
        description: 'Rate of unemployment for 16-64 year-olds'
        }) | safe }}
{% endcomp %}

<ul>
    <li>Economic Inactivity</li>
    <li>Unemployment</li>
    <li>UC and JSA</li>
</ul>
