---
title: Cities, Towns and Neighbourhoods
---

<h2>Children in Low Income in {{example.stats.latest_date | replace("(covid2122, div)", '') }}</h2>

{{ comp.oi.map.hex_cartogram({
        config: {
          hexjson: hexjson.northern_regions,
          data: example.hex_map.rows,
          matchKey: 'geography_code',
          value: 'Child',
          tooltip: '{{Child | toLocaleString()}}',
          scale: colour_scale.sample
        }
      }
    ) | safe }}
<h2>Working-Age people in Low Income in {{example.stats.latest_date | replace("(covid2122, div)", '') }}</h2>
{{ comp.oi.map.hex_cartogram({
        config: {
          hexjson: hexjson.northern_regions,
          data: example.hex_map.rows,
          matchKey: 'geography_code',
          value: 'Working-Age',
          tooltip: '{{Working-Age | toLocaleString()}}',
          scale: colour_scale.sample
        }
      }
    ) | safe }}
<h2>Pensioners in Low Income in {{example.stats.latest_date | replace("(covid2122, div)", '') }}</h2>
{{ comp.oi.map.hex_cartogram({
        config: {
          hexjson: hexjson.northern_regions,
          data: example.hex_map.rows,
          matchKey: 'geography_code',
          value: 'Pensioner',
          tooltip: '{{Pensioner | toLocaleString()}}',
          scale: colour_scale.sample
        }
      }
    ) | safe }}
