<!DOCTYPE html>
<html lang="en">
<head>
  <script src="//use.typekit.net/smy8mka.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - {{ metas.site }}</title>
  <link rel="stylesheet" href="https://www.jrf.org.uk/sites/all/themes/joseph_rowntree/css/font_houschka_def.css">
  <link rel="stylesheet" href="/assets/css/components.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  {# <script>try{Typekit.load();}catch(e){}</script> #}
</head>
<body>
  {{ content | safe }}
</body>
</html>
