---
layout: ./page.njk
---

{{ description | md | safe }}

{% if source %}
<p>The data originiates at <a href="{{ source.href }}">{{ source.title }}</a>.</p>
{% endif %}

<p>GitHub content for {{ title }}</p>

<ul>
{% if pipeline %}
<li><a target="_blank" href="{{ 'https://github.com/open-innovations/jrf-insight/blob/main/' + pipeline }}">Data processing pipeline</a></li>
{% endif %}
{# TODO Make this a proper link #}
<li><a target="_blank" href="{{ 'https://github.com/open-innovations/jrf-insight/blob/main/data/' + file }}">Processed data </a></li>
</ul>

<h2>Dimensions</h2>

<table class="top-trump-table">
  <thead>
    <tr>
      <th style="width:unset;">Dimension</th>
      <th style="width:unset;">Levels</th>
    </tr>
  </thead>
{% for d in dimensions %}
  <tr>
    <td style="width:30%;">{{ d.name }}</td>
    <td style="width:unset;font-size:0.7em;max-height:10em;">
    <div style="display:flex;align-items:baseline;gap:1em;max-height:10em;overflow-y:auto;">
      <p>{{ d.values | length }}:</p>
      {{ comp.tag_list({ values: d.values }) | safe }}
    </div>
    </td>
  </tr>
{% endfor %}
</table>

<h2>Facts</h2>

<table class="top-trump-table top-trump-invert">
  <thead>
    <tr>
      <th>Fact</th>
      <th>Type</th>
      <th>Min</th>
      <th>Mean</th>
      <th>Max</th>
      <th>Missing</th>
    </tr>
  </thead>
{% for f in facts %}
  <tbody>
    <tr>
      <td>{{ f.name }}</td>
      <td>{{ f.type }}</td>
      <td>{{ f.description.min | round(1) }}</td>
      <td>{{ f.description.mean | round(1) }}</td>
      <td>{{ f.description.max | round(1) }}</td>
      <td>{{ f.na }}</td>
    </tr>
  </tbody>
{% endfor %}
</table>
