---
layout: ./page.njk
---

<h2>Dimensions</h2>

<table class="top-trump-table">
  <thead>
    <tr>
      <th style="width:unset;">Dimension</th>
      <th style="width:unset;">Levels</th>
    </tr>
  </thead>
{% for d in dimensions %}
  <tr>
    <td style="width:30%;">{{ d.name }}</td>
    <td style="width:unset;font-size:0.7em;">
    <div style="display:flex;align-items:baseline;gap:1em;">
      <p>{{ d.values | length }}:</p>
      {{ comp.tag_list({ values: d.values }) | safe }}
    </div>
    </td>
  </tr>
{% endfor %}
</table>

<h2>Facts</h2>

<table class="top-trump-table top-trump-invert">
  <thead>
    <tr>
      <th>Fact</th>
      <th>Type</th>
    </tr>
  </thead>
{% for f in facts %}
  <tr>
    <td>{{ f.name }}</td>
    <td>{{ f.type }}</td>
  </tr>
{% endfor %}
</table>
