---
layout: templates/base.njk
---
<header>
  <div class="page-flow">
    <img src="/assets/images/jrf_logo.svg">
    <div>
      <p>{{ metas.site }}</p>
      <h1>{{ title }}</h1>
    </div>
  </div>
  <ul class='button'> 
  <li><a href="/people/">People</a></li>
  <li><a href="">Living Standards</a></li>
  <li><a href="">Economic Security</a></li>
  <li><a href="">Society</a></li>
  <li><a href="">Housing</a></li>
  <li><a href="">Cities, Towns and Neighbourhoods</a></li>
</ul>
</header>

<main role="main" class="page-flow">
  {{ content | safe }}
</main>