---
layout: templates/base.njk
---
<header>
  <div class="page-flow">
    <img src="/assets/images/jrf_logo.svg">
    <div>
      <p>{{ metas.site }}</p>
      <h1>{{ title }}</h1>
    </div>
  </div>
</header>
<main role="main" class="page-flow">
  {{ content | safe }}
</main>