---
layout: templates/base.njk
page_scripts:
  - /assets/js/components.js
  - /assets/js/numerate.js
---
{% include 'partials/header.njk' %}
{% include 'partials/warning.njk' %}
<main role="main" class="page-flow">
  {{ content | safe }}
</main>

{% include 'partials/footer.njk' %}
