---
layout: ./page.njk
tags:
  - place
---
{% set this_place_data = query.getDataForPlace(key) %}

{% if (relations.children | length) > 0 %}
{% set place_data = query.getPlaceData(relations.children) %}
{% else %}
{% set place_data = [this_place_data] %}
{% endif %}

<p>
Place page for {{ title }} ({{ comp.place.type({ id: key }) }}).
</p>

{% set population = this_place_data['Number of persons'] %}
{% set area = this_place_data['Area in sq km'] %}

{% comp 'layout.two_column' %}
  {% comp 'layout.stack' %}
    {{ comp.info.headline({
      number: population,
      display: population,
      description: 'The population of ' + title + ' is <span data-number=' + population + '>.'
    }) | safe }}

    {{ comp.info.headline({
      number: area,
      display: area + ' square km',
      description: 'The area of ' + title + ' is <span data-number='+ area +'>'+ area +'</span> square km.'
    }) | safe }}
  {% endcomp %}

  {% comp 'layout.stack' %}
    {{ comp.info.headline({
      number: 0,
      display: 0,
      description: 'IMD - children'
    }) | safe }}
    {{ comp.info.headline({
      number: 0,
      display: 0,
      description: 'IMD - old-people'
    }) | safe }}
    {{ comp.info.headline({
      number: 0,
      display: 0,
      description: 'IMD - health'
    }) | safe }}
  {% endcomp %}
{% endcomp %}






{% if this_place_data['children_in_low_income'] %}
{% comp 'grid.block', { classes: 'headline' } %}
{% set proportion = this_place_data['children_in_low_income'] / this_place_data['number_of_children'] %}
<p class="big-number">
  {{ comp.nearly.ratio({ value: proportion }) }}
</p>
<p>
  In {{ title}}, {{ comp.nearly.ratio({ value: proportion, withDirection: true }) }}
  ({{ comp.nearly.percentage({ value: proportion }) }}) of children live in poverty.
</p>
{% endcomp %}
{% endif %}

{{ comp.nav_block({
  place_key: key,
  parents: relations.parents,
  ancestors: relations.ancestors,
  children: relations.children,
  dir: {
    spotlight: true
  }
}) | safe }}


{% set max_population = place_data | getattr('Number of persons') | max | round(-3, 'ceiling') %}
{% set min_population = place_data | getattr('Number of persons') | min | round(-3, 'floor') %}
{% set half_population = (max_population - min_population) / 2 + min_population %}

{% if map %}
  {{ comp.oi.map.zoomable({
        config: {
          data: place_data,
          geojson: 
          {
            data: map,
            key: 'ons_code'
          },
          columns: [{
            name: "label",
            template: labels.place
          }],
          key: "geography_code",
          value: "Number of persons",
          scale: "Viridis",
          min: 0,
          max: max_population,
          tooltip: "label",
          legend:
          {
            position: "top right",
            items: [
              {
                value: max_population,
                label: max_population
              },
              {
                value: half_population,
                label: half_population
              },
              {
                value: min_population,
                label: min_population
              }
            ]
          }
        }
    }
  ) | safe }}
{% endif %}

<table>
<thead>
<tr>
  <th>Area</th>
  <th>Population estimate</th>
  <th>Area in sq km</th>
  <th>Number of households</th>
  <th>GVA (£m)</td>
  <th>Population density</th>
</tr>
</thead>
{% if (relations.children | length) > 0 %}
<tr>
<td>{{ title }} ({{ type }})</td>
<td>{{ query.getPlaceData(key)[0]['Number of persons'] }}</td>
<td>{{ query.getPlaceData(key)[0]['Area in sq km'] | round(0) }}</td>
<td>{{ query.getPlaceData(key)[0]['Number of households'] }}</td>
<td>{{ query.getPlaceData(key)[0]['GVA'] | round(0)}}</td>
<td>{{ query.getPlaceData(key)[0]['Population density'] | round(0) }}</td>
</tr>
{% endif %}
{% for row in place_data %}
<tr>
<td>{{ row.name }} ({{ row.type }})</td>
<td>{{ row['Number of persons'] }}</td>
<td>{{ row['Area in sq km'] | round(0) }}</td>
<td>{{ row['Number of households'] }}</td>
<td>{{ row['GVA'] | round(0)}}</td>
<td>{{ row['Population density'] | round(0) }}</td>
</tr>
{% endfor %}
</table>

<table>
<thead>
<tr>
  <th>Area</th>
  <th>Children in poverty</th>
  <th>Number of Children</th>
  <th>IMD average Score</th>
  <th>Households in poverty</th>
  <th>Unemployment rate aged 16-64 (%)</th>
</tr>
</thead>
{% if (relations.children | length) > 0 %}
<tr>
<td>{{ title }} ({{ type }})</td>
<td>{{ query.getPlaceData(key)[0]['children_in_low_income'] }}</td>
<td>{{ query.getPlaceData(key)[0]['number_of_children'] }}</td>
<td>{{ query.getPlaceData(key)[0]['IMD - average score'] }}</td>
<td>{{ query.getPlaceData(key)[0]['Households in poverty'] }}</td>
<td>{{ query.getPlaceData(key)[0]['unemployment_rate_16_64'] }}</td>
</tr>
{% endif %}
{% for row in place_data %}
<tr>
<td>{{ row.name }} ({{ row.type }})</td>
<td>{{ row['children_in_low_income'] }}</td>
<td>{{ row['number_of_children'] }}</td>
<td>{{ row['IMD - average score'] }}</td>
<td>{{ row['Households in poverty'] }}</td>
<td>{{ row['unemployment_rate_16_64'] }}</td>
</tr>
{% endfor %}
</table>