---
layout: ./page.njk
tags:
  - place
---

<p>
This is a mockup place page for {{ title }} ({{ key }}) which is a {{ type }}.
</p>

{{ comp.nav_block({
  place_key: key,
  parents: direct_parents,
  children: direct_children,
  dir: {
    spotlight: true
  }
}) | safe }}

{% set geojson_key = key %}

{% if map %}

  {{ comp.oi.map.zoomable({
        config: {
          data: place_data.rows,
          geojson: 
          {
            data: map,
            key: 'ons_code'
          },
          columns: [{
            name: "label",
            template: "{{geography_code}}: {{Number of persons | toLocaleString()}}"
          }],
          key: "geography_code",
          value: "Number of persons",
          scale: "Viridis",
          min: 10000,
          max: 1000000,
          tooltip: "label",
          legend:
          {
            position: "top right",
            items: [{
                value: 1000000,
                label: '1M'},
                {
                value: 10000,
                label: '10k'
            }]
          }
        }
    }
  ) | safe }}
{% endif %}