---
layout: ./page.njk
tags:
  - spotlight
---
{% set place_page = place[geography] %}

{% include 'partials/spotlight/' + spotlight + '/headlines.njk' %}

{{ comp.nav_block({
  dir: {
    place: true
  },
  place_key: geography,
  ancestors: place_page.relations.ancestors,
  parents: place_page.relations.parents,
  children: place_page.relations.children,
  place_prefix: '/spotlight/' + spotlight + '/'
}) | safe }}

{% include 'partials/spotlight/' + spotlight + '/content.njk' %}
