---
layout: ./page.njk
tags:
  - spotlight
---
{% set place_page = place[geography] %}
{% set this_place_data = query.getDataForPlace(geography) %}
{% if (place[geography].relations.children | length) > 0 %}
  {% set place_data = query.getPlaceData(place[geography].relations.children) %}
{% else %}
  {% set place_data = [this_place_data] %}
{% endif %}

{% include 'partials/spotlight/' + spotlight + '/headlines.njk' %}

{{ comp.nav_block({
  dir: {
    place: true
  },
  place_key: geography,
  ancestors: place_page.relations.ancestors,
  parents: place_page.relations.parents,
  children: place_page.relations.children,
  place_prefix: '/spotlight/' + spotlight + '/'
}) | safe }}

{% include 'partials/spotlight/' + spotlight + '/content.njk' %}
