---
layout: ./page.njk
tags:
  - spotlight
---

{# Set the `here` variable to refer to the place page #}
{% set here = search.page('place key=' + geography) %}

<div class="with-sidebar">
<div>
<p>{{ description | md | safe }}</p>

<p>This is the {{ title }} spotlight page for <a href="{{ here.url }}">{{ here.title }}</a>.</p>

</div>
<div class="sidebar">
{# Navigation block #}
{{ comp.nav_block({
  current_page: url,
  dir: {
    place: false,
    spotlight: true
  },
  place_key: geography,
  ancestors: here.relations.ancestors,
  parents: here.relations.parents,
  children: here.relations.children,
  place_prefix: '/spotlight/' + spotlight + '/'
}) | safe }}
</div>
</div>

{% set this_place_data = query.getDataForPlace(geography) %}

{#
  Infographics, as defined in the _data/spotlights.yaml,
  and filtered through the infographics_keys variable,
  which could be overriden per page.
#}
{{ comp.info.grid({
  items: infographics,
  background: 'var(--jrf-strong-pink)'
}) | safe }}







{% if (place[geography].relations.children | length) > 0 %}
  {% set place_data = query.getPlaceData(place[geography].relations.children) %}
{% else %}
  {% set place_data = [this_place_data] %}
{% endif %}

{% macro top_trump_table(name, style, columns) %}
  <table class = "{{ style }}">
    <tr>
      <th colspan='3'>{{ title }} - {{ name }}</th>
    </tr>
    {% for item in columns %}
    <tr>
        <td>{{ item.name }}</td>
        {% if item.data %}
          <td>{{ item.data }}
          {% if item.simple_data != null %}
            ({{ comp.nearly.ratio({ value: item.simple_data, withDirection: true }) }})
          {% endif %}
          </td>
        {% else %}
          <td>--</td>
        {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endmacro %}

{% include 'partials/spotlight/' + spotlight + '/headlines.njk' ignore missing %}


{% include 'partials/spotlight/' + spotlight + '/content.njk' %}
