{% macro place_data_table(places, row_titles, columns, here, order) %}
  <table class='place-data'>
    <thead>
      <tr>
        <th>
          Area
        </th>
        {% for row_title, _ in columns %}
        <th scope="column">
          {{ row_title }}
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in places %}
        {% set here_row = row['geography_code'] == here %}
        <tr
          {%- if here_row %} class='here'{% endif -%}
        >
          <th scope="row">
            {%- if not here_row %}
              <a href="/place/{{ row['geography_code'] }}/">
            {% endif -%}
              {{ row['name'] }}
              ({{ row['geography_code'] | ons_code_to_type }})
            {%- if not here_row %}</a>{% endif -%}
          </th>
          {% for _, column in columns %}
          <td>
            {{ (row[column] | round(0)) or '—' }}
          </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% macro top_trump_table(name, style, columns) %}
  <table class = "{{ style }}">
    <tr>
      <th colspan='3'>{{ title }} - {{ name }}</th>
    </tr>
    {% for item in columns %}
      <tr>
        <td>{{ item.name }}</td>
        {% if item.data %}
          <td>{{ item.data }}
            {% if item.simple_data != null %}
            ({{ comp.nearly.ratio({ value: item.simple_data, withDirection: true }) }})
          {% endif %}
          </td>
        {% else %}
          <td>No data available for this level of geography</td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
{% endmacro %}
