---
title: Metadata index
---

{% comp 'grid.masonry' %}
{% for page in search.pages('metadata', 'id') %}
  {% comp 'link.block_link', { href: page.url } %}
  {% comp 'grid.block' %}
  <p>{{ page.title | replace('-', ' ') }}</p>
  {% endcomp %}
  {% endcomp %}
{% endfor %}
{% endcomp %}
