---
layout: ../page.njk
tags:
  - spotlight
---
{% set place_page = search.page("place key=" + geography) %}

{{ comp.nav_block({
  dir: {
    place: true
  },
  place_key: geography,
  parents: place_page.direct_parents,
  children: place_page.direct_children,
  place_prefix: '/spotlight/' + spotlight + '/'
}) | safe }}

{{ content | safe }}
