{% set ct_pensioners = this_place_data['council_tax_pensioners'] %}
{% set ct_working_age = this_place_data['council_tax_working_age'] %}
{% set ct_pensioners_ratio = (this_place_data['council_tax_pensioners'] / this_place_data['number_of_pensioners']) %}
{% set ct_working_age_ratio = (this_place_data['council_tax_working_age'] / this_place_data['number_of_working_age']) %}

{% set smi_loans_in_payment_households = this_place_data['smi_loans_in_payment_households'] %}

{% set homeless = this_place_data['Total households assessed as owed a duty'] %}
{% set homeless_ratio = (this_place_data['Total households assessed as owed a duty'] / this_place_data['Number of households']) %}

{% set housing_benefit = this_place_data['HB_claimants'] %}
{% set number_of_households = this_place_data['Number of households'] %}
{% set housing_benefit_percent = (100*this_place_data['HB_claimants'] / this_place_data['Number of households']) | round(1) %}
{% set house_prices = this_place_data['Median house price'] %}

{{ top_trump_table(
  name="spotlight statistics",
  style="top-trump-table top-trump-invert",
  columns= [
      {
        name: 'Median house price (£)', 
        data: house_prices, 
        simple_data: null
      },
      {
        name: 'Number of working-age people claiming council tax support', 
        data: ct_working_age, 
        simple_data: ct_working_age_ratio
      },
      {
        name: 'Number of pensioners claiming council tax support', 
        data: ct_pensioners, 
        simple_data: ct_pensioners_ratio
      },
      {
        name: 'Households assessed as homeless', 
        data: homeless, 
        simple_data: homeless_ratio
      },
      {
        name: 'Number of people with support with mortgage interest', 
        data: smi_loans_in_payment_households, 
        simple_data: null
      },
      {
        name: 'Percentage of households receiving housing benefit', 
        data: housing_benefit_percent, 
        simple_data: housing_benefit_percent/100
      }
      ]
  ) 
}}

{% comp 'layout.stack' %}
{% comp 'layout.two_column' %}
    {{ comp.info.headline({
        number: house_prices,
        display: house_prices,
        description: 'Median house price (£)'
        }) | safe }}
    {{ comp.info.headline({
        number: ct_working_age,
        display: ct_working_age,
        description: 'Number of working-age people claiming council tax support'
        }) | safe }}
    {{ comp.info.headline({
        number: ct_pensioners,
        display: ct_pensioners,
        description: 'Number of pensioners claiming council tax support'
        }) | safe }}
    {{ comp.info.headline({
        number: homeless,
        display: homeless,
        description: 'Households assessed as homeless'
        }) | safe }}
    {{ comp.info.headline({
        number: smi_loans_in_payment_households,
        display: smi_loans_in_payment_households,
        description: 'Number of people with support with mortgage interest'
        }) | safe }}
    {{ comp.info.headline({
        number: housing_benefit_percent,
        display: housing_benefit_percent,
        description: 'Percentage of households receiving housing benefit'
        }) | safe }}
{% endcomp %}
{% endcomp %}
<ul>
    <li>Household Income</li>
    <li>Fuel poverty</li>
    <li>Overcrowding</li>
    <li><a href="https://github.com/open-innovations/jrf-insight/blob/main/data/hbai/Tenure%20Type%20of%20the%20Household%20of%20the%20Individual.csv">Tenure type</a></li>
    <li><a href="https://github.com/open-innovations/jrf-insight/tree/main/data/council-tax-support">Council tax support</a></li>
</ul>

{% set geo = geography %}
{% comp 'layout.two_column' %}
{% if geo in time_series.house_prices.names %}
    {{ comp.oi.chart.line({
      config: {
        legend: { 
          show: true
        },
        data: query.house_prices_for_place(geo),
        axis: {
          x: {
            title: {
              label: "Year"
            }
          },
          y: {
            title: {
              label: "Median House Prices (£)"
            },
            grid: {
              show: true
            },
            tick: {
              spacing: 50000
            },
            min: 0,
            max: 300000
          }
        },
        series: [
          {
            title: this_place_data.name,
            x: "date",
            y: geo,
            colour: "#13242F",
            line: {
              "stroke-dasharray": "0 10"
            }
          }
        ]
      }
    })| safe
  }}
{% endif %}
{% if geo in bar_charts.current_rental_prices.names %}
  {{comp.oi.chart.bar({
    config: {
      data: query.current_rental_prices_for_place(geo),
      stacked: false,
      legend: { 
        show: true
      },
      category: "property_code",
      series: [
        {
        "title": this_place_data.name,  
        "value": geo,
        "colour": "#13242F"
        }
      ], 
      axis: {
        x: {
          tick: {
            spacing: 400
          }
        }
      }
    }
    }) | safe
  }}
{% endif %}
{% endcomp %}
{% set chart_data = time_series.individual(geo) %}
{% if chart_data.rows | length > 0 %}
  <p style="text-align: center;">Number of people living in low income households by age category</p>
    {{ comp.oi.chart.line({
      config: {
        legend: { 
          show: true
        },
        data: chart_data,
        axis: {
          x: {
            title: {
              label: "Year"
            }
          },
          y: {
            title: {
              label: "Percentage of people living in low-income househodls"
            },
            grid: {
              show: true
            },
            tick: {
              spacing: 4
            },
            min: 0,
            max: 20
          }
        },
        series: [
          {
            title: "Child",
            x: "date",
            y: "Child",
            colour: "#3EB1C8",
            line: {
              "stroke-dasharray": "0 10"
            }
          },
          {
            title: "Working Age",
            x: "date",
            y: "Working-Age",
            colour: "#13242F",
            line: {
              "stroke-dasharray": "5 10 2"
            }
          },
          {
            title: "Pensioner",
            x: "date",
            y: "Pensioner",
            colour: "#ce0058",
            line: {
              "stroke-dasharray": "5 15"
            }
          }
        ]
      }
    })| safe
  }}
{% endif %}
<p> test </p>