{% set ct_pensioners = this_place_data['council_tax_pensioners'] %}
{% set ct_working_age = this_place_data['council_tax_working_age'] %}
{% set smi_loans_in_payment_households = this_place_data['smi_loans_in_payment_households'] %}
{% set homeless = this_place_data['Total households assessed as owed a duty'] %}
{% set housing_benefit = this_place_data['HB_claimants'] %}
{% set number_of_households = this_place_data['Number of households'] %}
{% set housing_benefit_norm = (100*this_place_data['HB_claimants'] / this_place_data['Number of households']) | round(1) %}
{% set house_prices = this_place_data['Median house price'] %}

{% comp 'layout.stack' %}
{% comp 'layout.two_column' %}
    {{ comp.info.headline({
        number: house_prices,
        display: house_prices,
        description: 'Median house price (£)'
        }) | safe }}
    {{ comp.info.headline({
        number: ct_working_age,
        display: ct_working_age,
        description: 'Number of working-age people claiming council tax support'
        }) | safe }}
    {{ comp.info.headline({
        number: ct_pensioners,
        display: ct_pensioners,
        description: 'Number of pensioners claiming council tax support'
        }) | safe }}
    {{ comp.info.headline({
        number: homeless,
        display: homeless,
        description: 'Households assessed as homeless (missing E05)'
        }) | safe }}
    {{ comp.info.headline({
        number: smi_loans_in_payment_households,
        display: smi_loans_in_payment_households,
        description: 'Number of people with support with mortgage interest (region only)'
        }) | safe }}
    {{ comp.info.headline({
        number: housing_benefit_norm,
        display: housing_benefit_norm,
        description: 'Percentage of households receiving housing benefit'
        }) | safe }}
{% endcomp %}
{% endcomp %}
<ul>
    <li>Household Income</li>
    <li>Fuel poverty</li>
    <li>Overcrowding</li>
    <li><a href="https://github.com/open-innovations/jrf-insight/blob/main/data/hbai/Tenure%20Type%20of%20the%20Household%20of%20the%20Individual.csv">Tenure type</a></li>
    <li><a href="https://github.com/open-innovations/jrf-insight/tree/main/data/council-tax-support">Council tax support</a></li>
</ul>
{% set geo = geography %}
{{ comp.oi.chart.line({
    config: {
      "legend": { 
        "show": true
      },
      "data": time_series.house_prices.rows,
      "axis": {
            "x": {
              "title": {
                "label": "Year"
                }
              },
            "y": {
              "title": {
                "label": "Median House Prices (£)"
              },
              "grid": {
                "show": true
              },
              "tickSpacing": 50000,
              "min": 0,
              "max": 300000
            }
          },
      "series": [
        {
        "title": "E12000003",
        "x": "date",
        "y": "E12000003",
        "colour": "#13242F",
        "line": {
          "stroke-dasharray": "0 10"
          }
        }
      ]
    }
    })| safe
}}


