---
css: |
  .grid-block {
    padding: 1em;
    color: var(--color, inherit);
    background: var(--background, inherit);
  }
---
<div class="grid-block {{ classes }}" style="{{ style }}">
  {{- content | safe -}}
</div>