---
css: |
    .infographic {
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        & > *:first-child {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        & .impact {
            font-size: 5em;
            font-weight: bold;
        }
        & .no-data {
          font-size: 2em;
        }
        & .description {
            font-size: 0.9em;
        }
    }
---
{% set personMarker = {
    marker: {
        svg: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16"><path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/></svg>'
    }
} %}
{% set personMarkerEmpty = {
    marker: {
        svg: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/></svg>'
    }
} %}

<div class='infographic'>
  <div>
    {% if value %}
        {% if type == 'waffle' %}
            {{ comp.oi.chart.waffle({
                config: {
                    data: [ { 'value': value } ],
                    size: size or 5,
                    width: 200,
                    columns: [
                      { name: 'tooltip', template: template or '{{ value | toFixed(1) }}%' }
                    ],
                    series: [
                        { value: 'value', colour: 'white', tooltip: 'tooltip', points: personMarker },
                        { colour: 'white', points: personMarkerEmpty }
                    ]
                }
            }) | safe }}
        {% elif type == 'percentage' %}
            <p class="impact">{{ value }}%</p>
        {% else %}
            <p class="impact">{{ value }}</p>
        {% endif %}
    {% else %}
        <p class="impact no-data">No data for this place</p>
    {% endif %}
  </div>
  <p class="description">{{ description }}</p>
</div>