---
css: |
  .grid-block {
    &.headline {
      text-align: center;
      color: white;
      background: var(--jrf-pink);
    }
  }
  .grid-block {
    &.missing {
      text-align: center;
      color: white;
      background: var(--jrf-dark-blue);
    }
  }
---
{% set len = number | length %}

{% if number == 0 or len == 0 %}
  {% comp 'grid.block', { classes: 'missing' } %}
    <p class="big-number" data-number={{ number | safe }}>
      {{ display | safe }}
    </p>
    <p>
      {{ description | safe }} (DATA NOT AVAILABLE)
    </p>
  {% endcomp %}
{% else %}
  {% comp 'grid.block', { classes: 'headline' } %}
    <p class="big-number" data-number={{ number | safe }}>
      {{ display | safe }}
    </p>
    <p>
      {{ description | safe }}
    </p>
  {% endcomp %}
{% endif %}