{% set place_headlines = headlines
  .economic_insecurity
  .getInfographicValuesForPlace(geography) %}
{% set place_children = place[geography].relations.children %}
{% set place_and_children = [geography, place_children] | flat %}

{% include './model.njk' %}

<h3>Key indicators</h3>

<p>The following analysis reflects the experience across the population of {{ this_place.title }}.</p>

{% comp 'layout.tab.set' %}
{% comp 'layout.tab.panel', { label: 'Labour market', id: 'labour-market' } %}
  <h3>What's on this chart?</h3>
    <p>This chart shows labour market statistics for {{ this_place.title }}.</p>
  {# <p class='chart-title'>Economic activity</p> #}
  {% set labour_market_time_series = dataset
    .labour_market
    .get_economic_activity_for_place(geography) %}
  {% if labour_market_time_series | length > 0 %}
    {{ comp.oi.chart.line({
      config: {
        data: labour_market_time_series,
        legend: { show: true },
        axis: {
          x: { title: { label: "Year" }, grid: { show: true }, tick: { sapcing: 5 } },
          y: { title: { label: "% of population" }, grid: { show: true }, tick: { spacing: 5 }, min: 0 }
        },
        series: [
          {
            x: "date", y: "Unemployment rate - aged 16-64",
            title: "Unemployment rate", line: { 'stroke-width': 5 }, points: { size: 10 }
          },
          {
            x: "date", y: "% who are economically inactive - aged 16-64",
            title: "Economic inactivity rate", line: { 'stroke-width': 5 }, points: { size: 10 }
          }
        ]
      }
    }) | safe }}
  {% else %}
    <p>No data available at this level</p>
  {% endif %}
{% endcomp %}

{% comp 'layout.tab.panel', { label: 'Fuel poverty', id: 'fuel-poverty' } %}
{% set fp_this = dataset
  .fuel_poverty
  .get_fuel_poverty([geography])[0] %}
{% set range = dataset
  .fuel_poverty
  .range() %}
{% set fp_all = dataset
  .fuel_poverty
  .get_fuel_poverty(place_and_children) %}

{% if fp_this | length > 0 %}
  <h3>What's on this chart?</h3>
  <p>This chart shows the percentage of households in fuel poverty across the different 
    areas in {{ this_place.title }}. In {{ this_place.title }}{{ fp_this["Number of households in fuel poverty"] }}
  of {{ fp_this['Number of households'] }} households are in fuel poverty.</p>
{% endif %}

  {% if fp_all.length > 0 %}
    {{ comp.oi.map.svg({
  config: {
    data: fp_all,
    geojson: { data: place[geography].map, key: 'ons_code' },
    background: {
      geojson: 'map.england', colour: 'silver' },
    columns: [
      { name: 'tooltip', template: "{{ geography_name}}\n\n{{ Proportion of households fuel poor (%) | toFixed(1) }}% of households are fuel poor" }
    ],
    value: 'Proportion of households fuel poor (%)',
    scale: 'Viridis',
    min: range.min,
    max: range.max,
    legend: {
      position: 'top right',
      items: [
        { value: range.max, label: range.max + '% (highest)' },
        { value: (range.max + range.min) / 2, label: (range.max + range.min) / 2 + '%' },
        { value: range.min, label: range.min + '% (lowest)' }
      ]
    },
    key: 'geography_code',
    tooltip: 'tooltip'
  }
}) | safe }}
  {% endif %}

  {% endcomp %}

  {% comp 'layout.tab.panel', { label: 'Weekly earning', id: 'weekly-earning' } %}
  {% set we_all = dataset
    .ashe
    .weekly_earnings(place_and_children) %}
  {% if we_all.length > 0 %}
      <h3>What's on this chart?</h3>
  <p> This chart shows the median weekly wage for different areas in {{ this_place.title }}. </p>
  {{ comp.oi.map.svg({
    config: {
      data: we_all,
      geojson: { data: place[geography].map, key: 'ons_code' },
      background: {
        geojson: 'map.england', colour: 'silver' },
      columns: [
        { name: 'tooltip', template: "{{ geography_name}}\n£{{ median_weekly_wage | toFixed(0) }} median weekly wage" }
      ],
      key: 'geography_code',
      value: 'median_weekly_wage',
      scale: 'Viridis',
      max: dataset.ashe.range.median_weekly_wage.min,
      min: dataset.ashe.range.median_weekly_wage.max,
      legend: {
        position: 'top right',
        items: [
          { value: dataset.ashe.range.median_weekly_wage.min, label: "£" + dataset.ashe.range.median_weekly_wage.min + ' (lowest)' },
          { value: (dataset.ashe.range.median_weekly_wage.max + dataset.ashe.range.median_weekly_wage.min) / 2, label: "£" + (dataset.ashe.range.median_weekly_wage.max + dataset.ashe.range.median_weekly_wage.min) / 2 },
          { value: dataset.ashe.range.median_weekly_wage.max, label: "£" + dataset.ashe.range.median_weekly_wage.max + ' (highest)' }
        ]
      },
      tooltip: 'tooltip'
    }
  }) | safe }}
  {% endif %}
  {% endcomp %}

  {% comp 'layout.tab.panel', { label: 'Savings and investments', id: 'savings-investments' } %}
  {% set chart_data = dataset
    .hbai
    .get_savings_and_investments_for_place(geography) %}
  {% if chart_data | length > 0 %}
  <h3>What's on this chart?</h3>
  <p> This chart shows savings and investments of adults in the family for low income households in {{ this_place.title }}.</p>
    <a href="https://github.com/open-innovations/jrf-insight/blob/main/data/hbai/Savings%20and%20Investments%20of%20Adults%20in%20the%20Family%20of%20the%20Individual.csv">Savings and Investments</a>
      {{ comp.oi.chart.line({
    config: {
      legend: { show: true },
      data: chart_data,
      axis: {
        x: { title: { label: "Year" }, tick: { sapcing: 5 } },
        y: { title: { label: "Percent of population" }, grid: { show: true }, tick: { spacing: 5 }, min: 0, max: 20 }
      },
      series: [
        {
          title: "No savings", x: "date", y: "No savings",
          line: { 'stroke-width': 5 }, points: { size: 10 }
        },
        {
          title: "Less than £1,500",
          x: "date",
          y: "Less than £1,500",
          line: { 'stroke-width': 5 }, points: { size: 10 }
        },
        {
          title: "£1,500 but less than £3,000",
          x: "date",
          y: "£1,500 but less than £3,000",
          line: { 'stroke-width': 5 }, points: { size: 10 }
        },
        {
          title: "£3,000 but less than £8,000",
          x: "date",
          y: "£3,000 but less than £8,000",
          line: { 'stroke-width': 5 }, points: { size: 10 }
        },
        {
          title: "£8,000 but less than £10,000",
          x: "date",
          y: "£8,000 but less than £10,000",
          line: { 'stroke-width': 5 }, points: { size: 10 }
        }
      ]
    }
  }) | safe }}
  {% else %}
    <p>No data available at this level</p>
  {% endif %}
  {% endcomp %}

  {% endcomp %}

  <h3>Demographic breakdown</h3>

  <p>
  Poverty can disproportionately affect certain groups.
  This section presents analysis of {{ title }} with a focus on demographics.
</p>

{% comp 'layout.tab.set' %}
  {% comp 'layout.tab.panel', { label: 'Gender', id: 'gender' } %}
    <p>Idea: pay gap or % jobs less than living wage</p>
  {% endcomp %}
  {% comp 'layout.tab.panel', { label: 'Ethnicity', id: 'ethnicity' } %}
  {% set chart_data = dataset
    .hbai
    .low_income_ethnicity(geography) %}
  {% if chart_data | length > 0 %}
    <h3>What's on this chart?</h3>
  <p> This chart shows the percentage of households below average income by ethnicity in {{ this_place.title }}.</p>
  <a href="https://github.com/open-innovations/jrf-insight/blob/main/data/hbai/by_ethnic_group.csv">Households below average income by ethnicity</a>
    {# <p style="text-align: center;"></p> #}
    {{ comp.oi.chart.line({
    config: {
      legend: { show: true },
      data: chart_data,
      axis: {
        x: { title: { label: "date" } },
        y: {
          title: { label: "Percent of total population" }, grid: { show: true },
          tick: { spacing: 5 }, min: 0, max: 25
        }
      },
      series: [
        {
          title: "Asian/ Asian British", x: "date", y: "Asian/ Asian British",
          line: { 'stroke-width': 5 }, points: { size: 10 }
        },
        {
          title: "Black/ African/ Caribbean/ Black British", x: "date", y: "Black/ African/ Caribbean/ Black British",
          line: { 'stroke-width': 5 }, points: { size: 10 }
        },
        {
          title: "Mixed/ Multiple Ethnic Groups", x: "date", y: "Mixed/ Multiple Ethnic Groups",
          line: { 'stroke-width': 5 }, points: { size: 10 }
        },
        {
          title: "Other Ethnic Group", x: "date", y: "Other Ethnic Group",
          line: { 'stroke-width': 5 }, points: { size: 10 }
        },
        {
          title: "White", x: "date", y: "White",
          line: { 'stroke-width': 5 }, points: { size: 10 }
        }
      ]
    }
  }) | safe }}
  <p>
    These statistics have been three-year averaged and rounded according to the guidance on 
    <a href="https://stat-xplore.dwp.gov.uk/webapi/jsf/dataCatalogueExplorer.xhtml">statXplore</a>.
    This method helps smooth erratic series and so give more robust estimates as the FRS sample size
     and coverage issues mean that single year results broken down below the level of UK region are 
     unlikely to be reliable.
  </p>
  {% else %}
    <p>No data available at this level</p>
  {% endif %}
  {# {% include './test.njk' %} #}
  {% endcomp %}
  {% comp 'layout.tab.panel', {label: 'Single parents', id: 'single-parents' } %}
    {% set chart_data = dataset.hbai.low_income_marital_status(geography) %}
  {% if chart_data | length > 0 %}
  <h3>What's on this chart?</h3>
  <p> This chart shows the percentage of households below average income by marital/cohabiting status in {{ this_place.title }}.</p>
  <a href="https://github.com/open-innovations/jrf-insight/blob/main/data/hbai/by_marital_status.csv">Households below average income by marital status</a>
  {# <p style="text-align: center;"></p> #}
  {{ comp.oi.chart.line({
    config: {
      legend: { show: true },
      data: chart_data,
      axis: {
        x: { title: { label: "3-year period" } },
        y: {
          title: { label: "Percent of total population" }, grid: { show: true },
          tick: { spacing: 5 }, min: 0, max: 25
        }
      },
      series: [
        {
          title: "Couple", x: "date", y: "Couple",
          line: { 'stroke-width': 5 }, points: { size: 10 }
        },
        {
          title: "Single", x: "date", y: "Single",
          line: { 'stroke-width': 5 }, points: { size: 10 }
        }
      ]
    }
  }) | safe }}
  <p>
    These statistics have been three-year averaged and rounded according to the guidance on 
    <a href="https://stat-xplore.dwp.gov.uk/webapi/jsf/dataCatalogueExplorer.xhtml">statXplore</a>.
    This method helps smooth erratic series and so give more robust estimates as the FRS sample size
     and coverage issues mean that single year results broken down below the level of UK region are 
     unlikely to be reliable.
  </p>
  {% else %}
    <p>No data available at this level</p>
  {% endif %}
{% endcomp %}
  {% comp 'layout.tab.panel', {label: 'Carers', id: 'carers' } %}
  <p>Idea: Cases with entitlement and cases in payment at regional level available 
    from statXplore.</p>
  {% endcomp %}
  {% endcomp %}

  <p>
See also https://www.jrf.org.uk/report/economic-security-foundation-dignity-opportunity-and-hope-age-uncertainty
</p>

  {% set savings = this_place_data['households_low_income_no_savings'] %}
  {% set imd_average_score = this_place_data['imd_average_score'] %}
  {% set median_weekly_wage = this_place_data['median_weekly_wage'] %}
  {% set mean_weekly_wage = this_place_data['mean_weekly_wage'] %}
  {% set fuel_poverty = this_place_data['Proportion of households fuel poor (%)'] %}

  {{ top_trump_table(
  name="spotlight statistics",
  style="top-trump-table top-trump-invert",
  columns= [
      {
        name: 'Low income households with no savings or investments', 
        data: savings, 
        simple_data: null
      },
      {
        name: 'IMD average score', 
        data: imd_average_score, 
        simple_data: null
      },
      {
        name: 'Claimants as a proportion of residents aged 16-64 (UC & JSA)', 
        data: place_headlines.percentage_benefits_claimants, 
        simple_data: null
      },
      {
        name: 'Mean weekly wage (£)', 
        data: mean_weekly_wage, 
        simple_data: null
      },
      {
        name: 'Median weekly wage (£)', 
        data: median_weekly_wage, 
        simple_data: null
      }
      ]
  ) 
}}

  {# {% comp 'layout.two_column' %}
    {{ comp.info.headline({
        number: savings,
        display: savings,
        description: 'Number of households with no savings or investments'
        }) | safe }}
    {{ comp.info.headline({
        number: imd_average_score,
        display: imd_average_score,
        description: 'IMD - average score'
        }) | safe }}
    {{ comp.info.headline({
        number: claimants,
        display: claimants,
        description: 'Claimants as a percentage of residents aged 16-64 (JSA and UC)'
        }) | safe }}
{% endcomp %} #}

  {# <ul>
    <li>
      <a href="https://github.com/open-innovations/jrf-insight/tree/main/data/imd">IMD</a>
    </li>
  </ul> #}