{% set savings = this_place_data['households_low_income_no_savings'] %}
{% set imd_average_score = this_place_data['imd_average_score'] %}

{% comp 'layout.stack' %}
    {{ comp.info.headline({
        number: savings,
        display: savings,
        description: 'Number of households with no savings or investments'
        }) | safe }}
    {{ comp.info.headline({
        number: imd_average_score,
        display: imd_average_score,
        description: 'IMD - average score'
        }) | safe }}

{% endcomp %}
<ul>
    <li>Weekly Earning</li>
    <li>IMD</li>
    <li>Savings and Investments</li>
</ul>
<p>test</p>
