{% set savings = this_place_data['households_low_income_no_savings'] %}
{% set imd_average_score = this_place_data['imd_average_score'] %}
{% set geo = geography %}

{% comp 'layout.stack' %}
    {{ comp.info.headline({
        number: savings,
        display: savings,
        description: 'Number of households with no savings or investments'
        }) | safe }}
    {{ comp.info.headline({
        number: imd_average_score,
        display: imd_average_score,
        description: 'IMD - average score'
        }) | safe }}

{% endcomp %}

{% comp 'layout.tab.set' %}

{% set chart_data = time_series.spotlight.economic_insecurity.unemployment(geo) %}
{% if chart_data.rows | length > 0 %}{% comp 'layout.tab.panel', { label: 'Unemployment', id: 'unemployment' } %}
  <p style="text-align: center;">Rate of unemployment</p>
    {{ comp.oi.chart.line({
      config: {
        legend: { 
          show: true
        },
        data: chart_data,
        axis: {
          x: {
            title: {
              label: "Year"
            }
          },
          y: {
            title: {
              label: "Rate"
            },
            grid: {
              show: true
            },
            tick: {
              spacing: 3
            },
            min: 0,
            max: 15
          }
        },
        series: [
          {
            title: "Unemployment rate - aged 16-64",
            x: "date",
            y: "Unemployment rate - aged 16-64",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          }
          }
        ]
      }
    )| safe
  }}
  {% endcomp %}{% endif %}

{% set chart_data = time_series.spotlight.economic_insecurity.economic_inactivity(geo) %}
{% if chart_data.rows | length > 0 %}{% comp 'layout.tab.panel', { label: 'Economic Inactivity', id: 'economic-inactivity' } %}
  <p style="text-align: center;">Rate of economic inactivity</p>
    {{ comp.oi.chart.line({
      config: {
        legend: { 
          show: true
        },
        data: chart_data,
        axis: {
          x: {
            title: {
              label: "Year"
            }
          },
          y: {
            title: {
              label: "Rate"
            },
            grid: {
              show: true
            },
            tick: {
              spacing: 20
            },
            min: 0,
            max: 100
          }
        },
        series: [
          {
            title: "Economic activity rate - aged 16-64",
            x: "date",
            y: "Economic activity rate - aged 16-64",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          }
          }
        ]
      }
    )| safe
  }}
  {% endcomp %}{% endif %}

{% set chart_data = time_series.spotlight.economic_insecurity.savings_investments(geo) %}
{% if chart_data.rows | length > 0 %}{% comp 'layout.tab.panel', { label: 'Savings and investments', id: 'savings-investments' } %}
  <p style="text-align: center;">Savings and investments of adults in the family for low income households</p>
    {{ comp.oi.chart.line({
      config: {
        legend: { 
          show: true
        },
        data: chart_data,
        axis: {
          x: {
            title: {
              label: "Year"
            }
          },
          y: {
            title: {
              label: "Percent of population"
            },
            grid: {
              show: true
            },
            tick: {
              spacing: 5
            },
            min: 0,
            max: 20
          }
        },
        series: [
          {
            title: "No savings",
            x: "date",
            y: "No savings",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          },
          {
            title: "Less than £1,500",
            x: "date",
            y: "Less than £1,500",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          },
          {
            title: "£1,500 but less than £3,000",
            x: "date",
            y: "£1,500 but less than £3,000",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          },
          {
            title: "£3,000 but less than £8,000",
            x: "date",
            y: "£3,000 but less than £8,000",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          },
          {
            title: "£8,000 but less than £10,000",
            x: "date",
            y: "£8,000 but less than £10,000",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          }
          }
        ]
      }
    )| safe
  }}
  {% endcomp %}{% endif %}

{% endcomp %}
{# end of tab set #}


<ul>
    <li>Weekly Earning</li>
    <li><a href="https://github.com/open-innovations/jrf-insight/tree/main/data/imd">IMD</a></li>
    <li><a href="https://github.com/open-innovations/jrf-insight/blob/main/data/hbai/Savings%20and%20Investments%20of%20Adults%20in%20the%20Family%20of%20the%20Individual.csv">Savings and Investments</a></li>
</ul>
