<h2>Poverty index </h2>
{% set model_data = data.model.econonmic_insecurity(place[geography].relations.children) %}
{% if model_data | length > 0 %}
  <p>
    This map shows the result of creating a poverty index for economic insecurity
    by combining a number of leading indicators of poverty into a single number in the range 0 to 1.
    A score closer to 0 means that the model is suggesting lower levels of economic insecurity in this area.
  </p>
  {% comp 'layout.wrapper', { width: 'min(20em, 70%)' } %}
  {{ comp.oi.map.svg({
    config: {
      data: model_data,
      geojson: { data: place[geography].map, key: 'ons_code' },
      background: {
        geojson: 'map.england', colour: 'silver' },
      columns: [
        { name: 'tooltip', template: "{{ geography_name }}\n\n{{ mean_normalised_score | toFixed(3) }}" }
      ],
      value: 'mean_normalised_score',
      scale: 'Viridis',
      min: 0,
      max: 1,
      legend: {
        position: 'top left',
        items: [
          { value: 1, label: '1 - Very High' },
          { value: 0.75, label: '0.75 - High' },
          { value: 0.5, label: '0.5 - Average' },
          { value: 0.25, label: '0.25 - Low' },
          { value: 0, label: '0 - Very Low' }
        ]
      },
      key: 'geography_code',
      tooltip: 'tooltip'
    }
  }) | safe }}
  {% endcomp %}
  {% comp 'collapse', { heading: "How to interpret the index"} %}
  <p>
    In the context of this model, a value closer to 1 indicates that a given place tends to rank higher relative to other places in metrics that
    we have identified as contributing to economic insecurity. This does not necessarily mean that you are more likely to experience poverty in those
    places, however. 
  </p>
  {% endcomp %}
{% else %}
<p>
  We try to model a poverty index averaging different statistics that contribute to economic insecurity.
  This model is not available for {{ this_place.title }}.
</p>
{% endif %}
{% comp 'collapse', { heading: "How we calculate the index"} %}
  <p>
    The highest and lowest values will score 1 and 0, respectively, and everything else will fall 
    somewhere in between.
    We create an average index across 6 metrics
  </p>
  <ul>
    <li>economic inactivity</li>
    <li>unemployment</li>
    <li>mean weekly wage</li>
    <li>median weekly wage </li>
    <li>claimants as a proportion of residents aged 16-64</li>
    <li>proportion of households that are fuel poor</li>
  </ul>
  <p>
    This is a proof of concept. You can see the code and read more about the logic to create these stats <a href="https://github.com/open-innovations/jrf-insight/blob/main/playground/modelling/economic_insecurity.ipynb">here.</a>
  </p>
{% endcomp %}