---
title: Data Insight Example
---
<div>
{{ comp.oi.chart.line({
  config: {
    data: test,
    series: [
      {
        title: "Series",
        x: "year",
        y: "series",
        colour: '#e52e36'
      }
    ]
  }
  }) | safe 
}}
</div>