---
title: Data Insight Example
key: E12999901
---
<p>
  This is a prototype of the Insight Finder site created by <a href="https://www.jrf.org.uk/">The Joseph Rowntree Foundation</a>
  and <a href="https://open-innovations.org/">Open Innovations</a>.
  Please see the <a href="//open-innovations.org/projects/jrf/north-insight-finder/">Open Innovations project page</a> for more info.
</p>

<h2>Search bar</h2>

<h2>Intro text</h2>

<h2>General headlines and top-level region visualisations</h2>

<p>
Maybe drawn from <a href="https://www.jrf.org.uk/report/uk-poverty-2023">JRF UK Poverty report</a>.
</p>
{# {{ comp.oi.map.zoomable({
        config: {
          data: [{
            code: null,
            name: "The North",
            colour: '#3EB1C8'
          }],
          geojson: {
            key: RGN21NM,
            data: geojson.the_north
          },
          key: name,
          tooltip: name,
          value: 1000
        }
    }
  ) | safe }} #}

{# {{ place_data([key]) | dump() }} #}

{% set place = search.page('place key=' + key) %}
{{ comp.oi.map.zoomable({
        config: {
          data: place.place_data.rows,
          geojson: 
          {
            key: "ons_code",
            data: place.map
          },
          columns: [{
            name: "label",
            template: "{{geography_code}}: {{Number of persons | toLocaleString()}}"
          }],
          key: "geography_code",
          value: "Number of persons",
          scale: "Viridis",
          min: 10000,
          max: 7000000,
          tooltip: "label",
          legend:
          {
            position: "top right",
            items: [{
                value: 7000000,
                label: '7M'},
              {
                value: 10000,
                label: '10k'
            }]
          }
        }
    }
  ) | safe }}


{# <h2> Number of people in Low Income* in {{example.stats.latest_date | replace("(covid2122, div)", '') }}</h2>
<div>
{{ comp.oi.dashboard({
  config: {
    title: "Type of Individual by Age Category",
    value: "Count",
    width: 100px,
    data: example.dashboard.rows,
    panels: [
      { name: "Child",
        colour: "#13242F" },
      { name: "Working-Age",
        colour: "#ce0058" },
      { name: "Pensioner", 
        colour: "#3EB1C8" } 
    ]
  }
  }) | safe
}}
</div>
<p> *Below 60 per cent of median net household income (BHC) in latest prices</p> #}
