---
title: Data Insight Example
---

<p>
  This is a prototype of the Insight Finder site created by JRF and Open Innovations.
  Please see the <a href="//open-innovations.org/projects/jrf/north-insight-finder/">Open Innovations project page</a> for more info.
</p>
<div>
{{ comp.oi.chart.line({
  config: {
    data: test,
    series: [
      {
        title: "Series",
        x: "year",
        y: "series",
        colour: '#e52e36'
      }
    ]
  }
  }) | safe 
}}
</div>