{% set geo = geography %}
<ul>
    <li>Adult obesity</li>
    <li>Long-term conditions</li>
    <li>Disability</li>
</ul>

{% comp 'layout.tab.set' %}

{% set chart_data = data.spotlight.health.time_series.freeSchoolMeals(geo) %}
{% if chart_data.rows | length > 0 %}
{% comp 'layout.tab.panel', { label: 'Free school meals', id: 'free-school-meals' } %}
  <h3>What's on this chart?</h3>
  <p> 
    This chart shows the percentage of pupils eligible for free school meals at different tyes of state-funded schools.
    You can read more about the data 
    <a href="https://explore-education-statistics.service.gov.uk/methodology/schools-pupils-and-their-characteristics-methodology">here.</a>
  </p>
      {{ comp.oi.chart.line({
        config: {
          legend: { 
            show: true
          },
          data: chart_data,
          axis: {
            x: {
              title: {
                label: "Year"
              },
              ticks: [
              {
                value: 201516,
                label: "2015/16"
              },
              {
                value: 201617,
                label: "2016/17"
              },
              {
                value: 201718,
                label: "2017/18"
              },
              {
                value: 201819,
                label: "2018/19"
              },
              {
                value: 201920,
                label: "2019/20"
              },
              {
                value: 202021,
                label: "2020/21"
              },
              {
                value: 202122,
                label: "2021/22"
              },
              {
                value: 202223,
                label: "2022/23"
              }
              ]
            },
            y: {
              title: {
                label: "Percentage of students eligible"
              },
              grid: {
                show: true
              },
              tick: {
                spacing: 10
              },
              min: 0,
              max: 80
            }
          },
          series: [
            {
              title: "Total",
              x: "date",
              y: "Total",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 10
              }
            },
            {
              title: "State-funded nursery",
              x: "date",
              y: "State-funded nursery",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 10
              }
            },
            {
              title: "State-funded primary",
              x: "date",
              y: "State-funded primary",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 10
              }
            },
            {
              title: "State-funded secondary",
              x: "date",
              y: "State-funded secondary",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 10
              }
            },
            {
              title: "State-funded special school",
              x: "date",
              y: "State-funded special school",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 10
              }
            },
            {
              title: "State-funded alternative provision school",
              x: "date",
              y: "State-funded AP school",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 10
              }
            }
            }
          ]
        }
      )| safe
    }}
{% endcomp %}
{% else %}
  <p>
    No data available at this level.
  </p>
{% endif %}

{% set chart_data = data.spotlight.health.time_series.happiness(geo) %}
{{ chart_data }}
{% if chart_data.rows | length > 0 %}{% comp 'layout.tab.panel', { label: 'Happiness', id: 'happiness' } %}
  <p style="text-align: center;">Happiness</p>
    {{ comp.oi.chart.line({
      config: {
        legend: { 
          show: true
        },
        data: chart_data,
        axis: {
          x: {
            title: {
              label: "Time"
            },
            ticks: [
              {
              value: "2019-20",
              grid: true,
              label: "2019-20",
              tickSize: 5
              }
            ]
          },
          y: {
            title: {
              label: "Percentage of population"
            },
            grid: {
              show: true
            },
            tick: {
              spacing: 10
            },
            min: 0,
            max: 50
          }
        },
        series: [
          {
            title: "Poor",
            x: "Time",
            y: "Poor",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          },
          {
            title: "Fair",
            x: "Time",
            y: "Fair",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          },
          {
            title: "Good",
            x: "Time",
            y: "Good",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          },
          {
            title: "Very good",
            x: "Time",
            y: "Very good",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          }
          }
        ]
      }
    )| safe
  }}
  <p style='text-align: center;'> 
    </p>
  {% endcomp %}{% endif %}

{% set chart_data = data.spotlight.health.time_series.worthwhile(geo) %}
{{ chart_data }}
{% if chart_data.rows | length > 0 %}{% comp 'layout.tab.panel', { label: 'Worthwhile', id: 'worthwhile' } %}
  <p style="text-align: center;">Worthwhile</p>
    {{ comp.oi.chart.line({
      config: {
        legend: { 
          show: true
        },
        data: chart_data,
        axis: {
          x: {
            title: {
              label: "Time"
            },
            ticks: [
              {
              value: "2019-20",
              grid: true,
              label: "2019-20",
              tickSize: 5
              }
            ]
          },
          y: {
            title: {
              label: "Percentage of population"
            },
            grid: {
              show: true
            },
            tick: {
              spacing: 10
            },
            min: 0,
            max: 50
          }
        },
        series: [
          {
            title: "Poor",
            x: "Time",
            y: "Poor",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          },
          {
            title: "Fair",
            x: "Time",
            y: "Fair",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          },
          {
            title: "Good",
            x: "Time",
            y: "Good",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          },
          {
            title: "Very good",
            x: "Time",
            y: "Very good",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          }
          }
        ]
      }
    )| safe
  }}
  <p style='text-align: center;'> 
    </p>
  {% endcomp %}{% endif %}

{% set chart_data = data.spotlight.health.time_series.life_satisfaction(geo) %}
{{ chart_data }}
{% if chart_data.rows | length > 0 %}{% comp 'layout.tab.panel', { label: 'Life satisfaction', id: 'life-satisfaction' } %}
  <p style="text-align: center;">Life satisfaction</p>
    {{ comp.oi.chart.line({
      config: {
        legend: { 
          show: true
        },
        data: chart_data,
        axis: {
          x: {
            title: {
              label: "Time"
            },
            ticks: [
              {
              value: "2019-20",
              grid: true,
              label: "2019-20",
              tickSize: 5
              }
            ]
          },
          y: {
            title: {
              label: "Percentage of population"
            },
            grid: {
              show: true
            },
            tick: {
              spacing: 10
            },
            min: 0,
            max: 50
          }
        },
        series: [
          {
            title: "Poor",
            x: "Time",
            y: "Poor",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          },
          {
            title: "Fair",
            x: "Time",
            y: "Fair",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          },
          {
            title: "Good",
            x: "Time",
            y: "Good",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          },
          {
            title: "Very good",
            x: "Time",
            y: "Very good",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          }
          }
        ]
      }
    )| safe
  }}
  <p style='text-align: center;'> 
    </p>
  {% endcomp %}{% endif %}

{% set chart_data = data.spotlight.health.time_series.anxiety(geo) %}
{{ chart_data }}
{% if chart_data.rows | length > 0 %}{% comp 'layout.tab.panel', { label: 'Anxiety', id: 'anxiety' } %}
  <p style="text-align: center;">Anxiety</p>
    {{ comp.oi.chart.line({
      config: {
        legend: { 
          show: true
        },
        data: chart_data,
        axis: {
          x: {
            title: {
              label: "Time"
            },
            ticks: [
              {
              value: "2019-20",
              grid: true,
              label: "2019-20",
              tickSize: 5
              }
            ]
          },
          y: {
            title: {
              label: "Percentage of population"
            },
            grid: {
              show: true
            },
            tick: {
              spacing: 10
            },
            min: 0,
            max: 50
          }
        },
        series: [
          {
            title: "Poor",
            x: "Time",
            y: "Poor",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          },
          {
            title: "Fair",
            x: "Time",
            y: "Fair",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          },
          {
            title: "Good",
            x: "Time",
            y: "Good",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          },
          {
            title: "Very good",
            x: "Time",
            y: "Very good",
            line: {
              "stroke-dasharray": "5 10"
            },
            points: {
              size: 12
            }
          }
          }
        ]
      }
    )| safe
  }}
  <p style='text-align: center;'> 
    </p>
  {% endcomp %}{% endif %}

{% endcomp %}
{# end of tab set #}

