{% set geo = geography %}

{#
  <h2>Poverty index </h2>
  <p>Model to be added here</p>
#}

<h2>Key indicators</h2>

<p>The following analysis reflects the experience across the population of {{ here.title }}.</p>

{% comp 'layout.tab.set' %}

  {% comp 'layout.tab.panel', { label: 'Free school meals', id: 'free-school-meals' } %}
    <h3>Students eligible for free school meals in state-funded schools</h3>
    {% comp 'collapse', { heading: "What's on this chart?"} %}
      <p> This chart shows the percentage of pupils eligible for free school meals at different tyes of state-funded schools in {{ here.title }}.</p>
      <h4>Dataset</h4> {{ comp.sourcelink({dataset: "school-pupils-characteristics", view: "free_school_meals"}) | safe }}
    {% endcomp %}
    {% set chart_data = data.spotlight.health.time_series.freeSchoolMeals(geo) %}
    {% if chart_data.rows | length > 0 %}
      {{ comp.oi.chart.line({
        config: {
          legend: { 
            show: true
            },
          data: chart_data,
          axis: {
            x: {
              title: { label: "Year" },
              ticks: [
              {
                value: "201516",
                label: "2015/16"
              },
              {
                value: "201617",
                label: "2016/17"
              },
              {
                value: "201718",
                label: "2017/18"
              },
              {
                value: "201819",
                label: "2018/19"
              },
              {
                value: "201920",
                label: "2019/20"
              },
              {
                value: "202021",
                label: "2020/21"
              },
              {
                value: "202122",
                label: "2021/22"
              },
              {
                value: "202223",
                label: "2022/23"
              }]
            },
            y: {
              title: {
                label: "Percentage of students eligible"
                },
              grid: {
                show: true
                },
              tick: {
                spacing: 10
                },
              min: 0,
              max: 70
              }
            },
          series: [
            {
              title: "Total",
              x: "date",
              y: "Total",
              line: {
                "stroke-dasharray": "5 10"
                },
              points: {
                size: 10
                }
            },
            {
              title: "State-funded nursery",
              x: "date",
              y: "State-funded nursery",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 10
              }
            },
            {
              title: "State-funded primary",
              x: "date",
              y: "State-funded primary",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 10
              }
            },
            {
              title: "State-funded secondary",
              x: "date",
              y: "State-funded secondary",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 10
              }
            },
            {
              title: "State-funded special school",
              x: "date",
              y: "State-funded special school",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 10
              }
            },
            {
              title: "State-funded alternative provision school",
              x: "date",
              y: "State-funded AP school",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 10
                }
              }]
            }
          }
        )| safe
      }}
    {% else %}
      <p>
        No data available at this level.
      </p>
    {% endif %}
  {% endcomp %}

  {% comp 'layout.tab.panel', { label: 'Happiness', id: 'happiness' } %}
    <h3>Personal wellbeing - happiness</h3> 
    {% comp 'collapse', { heading: "What's on this chart?"} %}
    <p>
      This chart shows the percentage of people who responded as poor, fair, good, and very good to the question
      "Overall, how happy did you feel yesterday?" in {{ here.title }}.
    </p>
    <h4>Dataset</h4> {{ comp.sourcelink({dataset: "personal-wellbeing", view: "wellbeing-local-authority"}) | safe }}
    {% endcomp %}
    {% set chart_data = dataset.personal_wellbeing.happiness(geo) %}
    {% if chart_data.rows | length > 0 %}
      {{ comp.oi.chart.line({
        config: {
          legend: { 
            show: true
          },
          data: chart_data,
          axis: {
            x: {
              title: {
                label: "Time"
              },
              ticks: [
                {
                value: "2019-20",
                grid: true,
                label: "2019-20",
                tickSize: 5
                }
              ]
            },
            y: {
              title: {
                label: "Percentage of population"
              },
              grid: {
                show: true
              },
              tick: {
                spacing: 10
              },
              min: 0,
              max: 50
            }
          },
          series: [
            {
              title: "Poor",
              x: "Time",
              y: "Poor",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 12
              }
            },
            {
              title: "Fair",
              x: "Time",
              y: "Fair",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 12
              }
            },
            {
              title: "Good",
              x: "Time",
              y: "Good",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 12
              }
            },
            {
              title: "Very good",
              x: "Time",
              y: "Very good",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 12
                }
            }]
          }
        })| safe
      }}
    {% else %}
      <p>No data available at this level.</p>
    {% endif %}
  {% endcomp %}

  {% comp 'layout.tab.panel', { label: 'Worthwhile', id: 'worthwhile' } %}
    <h3>Personal wellbeing - worthwhile</h3> 
    {% comp 'collapse', { heading: "What's on this chart?"} %}
    <p>This chart shows the percentage of people who responded as poor, fair, good, and very good to the question
      "Overall, to what extent do you feel that the things you do in your life are worthwhile?" in {{ here.title }}.</p>
    <h4>Dataset</h4> {{ comp.sourcelink({dataset: "personal-wellbeing", view: "wellbeing-local-authority"}) | safe }}
    {% endcomp %}
    {% set chart_data = dataset.personal_wellbeing.worthwhile(geo) %}
    {% if chart_data.rows | length > 0 %}
      {{ comp.oi.chart.line({
        config: {
          legend: { 
            show: true
          },
          data: chart_data,
          axis: {
            x: {
              title: {
                label: "Time"
              },
              ticks: [
                {
                value: "2019-20",
                grid: true,
                label: "2019-20",
                tickSize: 5
                }
              ]
            },
            y: {
              title: {
                label: "Percentage of population"
              },
              grid: {
                show: true
              },
              tick: {
                spacing: 10
              },
              min: 0,
              max: 60
            }
          },
          series: [
            {
              title: "Poor",
              x: "Time",
              y: "Poor",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 12
              }
            },
            {
              title: "Fair",
              x: "Time",
              y: "Fair",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 12
              }
            },
            {
              title: "Good",
              x: "Time",
              y: "Good",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 12
              }
            },
            {
              title: "Very good",
              x: "Time",
              y: "Very good",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 12
              }
            }]
          }
        })| safe
      }}
    {% else %}
      <p>No data available at this level.</p>
    {% endif %}
  {% endcomp %}

  {% comp 'layout.tab.panel', { label: 'Life satisfaction', id: 'life-satisfaction' } %}
    <h3>Personal wellbeing - life-satisfaction</h3> 
    {% comp 'collapse', { heading: "What's on this chart?"} %}
    <p>This chart shows the percentage of people who responded as poor, fair, good, and very good to the question
      "On a scale where 0 is “not at all anxious” and 10 is “completely anxious”, overall, how anxious did you 
      feel yesterday?" in {{ here.title }}.</p>
    <h4>Dataset</h4> {{ comp.sourcelink({dataset: "personal-wellbeing", view: "wellbeing-local-authority"}) | safe }}
    {% endcomp %}
    {% set chart_data = dataset.personal_wellbeing.life_satisfaction(geo) %}
    {% if chart_data.rows | length > 0 %}
      {{ comp.oi.chart.line({
        config: {
          legend: { 
            show: true
          },
          data: chart_data,
          axis: {
            x: {
              title: {
                label: "Time"
              },
              ticks: [
                {
                value: "2019-20",
                grid: true,
                label: "2019-20",
                tickSize: 5
                }
              ]
            },
            y: {
              title: {
                label: "Percentage of population"
              },
              grid: {
                show: true
              },
              tick: {
                spacing: 10
              },
              min: 0,
              max: 60
            }
          },
          series: [
            {
              title: "Poor",
              x: "Time",
              y: "Poor",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 12
              }
            },
            {
              title: "Fair",
              x: "Time",
              y: "Fair",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 12
              }
            },
            {
              title: "Good",
              x: "Time",
              y: "Good",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 12
              }
            },
            {
              title: "Very good",
              x: "Time",
              y: "Very good",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 12
              }
            }]
          }
        })| safe
      }}
    {% else %}
      <p> No data available at this level.</p>
    {% endif %}
  {% endcomp %}

  {% comp 'layout.tab.panel', { label: 'Anxiety', id: 'anxiety' } %}
    <h3>Personal wellbeing - anxiety</h3> 
    {% comp 'collapse', { heading: "What's on this chart?"} %}
    <p>This chart shows the percentage of people who responded as poor, fair, good, and very good to the question
      "Overall, how satisfied are you with your life nowadays?" in {{ here.title }}.</p>
    <h4>Dataset</h4> {{ comp.sourcelink({dataset: "personal-wellbeing", view: "wellbeing-local-authority"}) | safe }}
    {% endcomp %}
    {% set chart_data = dataset.personal_wellbeing.anxiety(geo) %}
    {% if chart_data.rows | length > 0 %}
      {{ comp.oi.chart.line({
        config: {
          legend: { 
            show: true
          },
          data: chart_data,
          axis: {
            x: {
              title: {
                label: "Time"
              },
              ticks: [
                {
                value: "2019-20",
                grid: true,
                label: "2019-20",
                tickSize: 5
                }
              ]
            },
            y: {
              title: {
                label: "Percentage of population"
              },
              grid: {
                show: true
              },
              tick: {
                spacing: 10
              },
              min: 0,
              max: 50
            }
          },
          series: [
            {
              title: "Poor",
              x: "Time",
              y: "Poor",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 12
              }
            },
            {
              title: "Fair",
              x: "Time",
              y: "Fair",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 12
              }
            },
            {
              title: "Good",
              x: "Time",
              y: "Good",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 12
              }
            },
            {
              title: "Very good",
              x: "Time",
              y: "Very good",
              line: {
                "stroke-dasharray": "5 10"
              },
              points: {
                size: 12
              }
            }]
          }
        })| safe
      }}
    {% else %}
      <p>No data available at this level.</p>
    {% endif %}
  {% endcomp %}

{# 
  {% comp 'layout.tab.panel', { label: 'Obesity', id: 'obesity' } %}
    <p>Placeholder.</p>
  {% endcomp %}
#}
{#
  {% comp 'layout.tab.panel', { label: 'Long-term conditions', id: 'long-term-conditions' } %}
    <p>Placeholder.</p>
  {% endcomp %}
#}
{# 
  {% comp 'layout.tab.panel', { label: 'Disability', id: 'disability' } %}
    <p>Placeholder.</p>
  {% endcomp %}
#}

{% endcomp %}
{# end of tab set #}

{#
<h2>Demographic breakdown</h2>

<p>
  Poverty can disproportionately affect certain groups.
  This section presents analysis of {{ title }} with a focus on demographics.
</p>

{% comp 'layout.tab.set' %}

  {% comp 'layout.tab.panel', { label: 'Placeholder 1', id: 'Placeholder 1' } %}
  {% endcomp %}

{% endcomp %}

#}

{# End of tab set #}