---
js: |
  addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.menu').forEach((menu) => {
      const buttons = menu.querySelectorAll('button');
      buttons.forEach(button => {
        button.addEventListener('click', function () {
          buttons.forEach(b => {
            if (b == this) return;
            b.setAttribute('aria-expanded', false);
            b.nextElementSibling.hidden = true;
          })
          const expanded = this.getAttribute('aria-expanded') === 'true' || false;
          this.setAttribute('aria-expanded', !expanded);
          const menu = this.nextElementSibling;
          menu.hidden = !menu.hidden;
        });
      });
    });
  });
---

<ul class="menu {{ classes }}" {% if hidden %}hidden{% endif %}>
  {% for item in items %}
    {% if item.children %}
      <li>
        <button aria-expanded='false'>{{ item.title }}</button>
        {{ comp.menu({ items: item.children, hidden: true }) | safe }}
      </li>
    {% else %}
      <li>
        <a href="{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>