---
css: |
  nav.nav-block {
    --background: #aaa;
    --colour: var(--jrf-dark-grey);
    background: var(--background);
    color: var(--colour);
    padding: 0.5em;
    font-size: 0.8em;
    & .inline {
      border-top: 1px solid var(--colour);
      display: flex;
      gap: 2em;
      & > *:first-child {
        flex-grow: 1;
      }
    }
    & a {
      color: inherit;
    }
    & ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      column-gap: 1.2em;
    }
    & toggle-section h3, & .inline {
      border-top: 1px solid var(--colour);
    }
  }
---
{% set heading_level = 2 %}
<nav class='nav-block' data-dependencies="/assets/js/inclusive.js">
  <h{{ heading_level }}>Navigation</h{{ heading_level }}>
  {% if dir.place or false %}
  <div class="inline">
    <h{{ heading_level + 1 }}>Place</h{{ heading_level + 1 }}>
    {{ comp.link.place({ place: place_key }) | safe }}
  </div>
  {% endif %}

  {% if dir.spotlight or false %}
  <div id="spotlight-at-place" class="inline">
    <h{{ heading_level + 1 }}>Spotlights</h{{ heading_level + 1 }}>
    <ul>
      {% for spotlight in search.pages('spotlight geography=' + place_key + ' url!=' + current_page ) %}
        <li>
          <a href="{{ spotlight.url }}">{{ spotlight.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if ancestors and ancestors.length > 0 %}
  <div class="inline">
    <h{{ heading_level + 1 }}>Upper geographies</h{{ heading_level + 1 }}>
    <ul id="contained-by-places">
      {% for id in ancestors | reverse %}
      <li>{{ comp.link.place({ place: id, prefix: place_prefix }) | safe }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if children and children.length > 0 %}
  <toggle-section>
    <h{{ heading_level + 1 }}>Lower geographies</h{{ heading_level + 1 }}>
    <ul id="contains-places">
      {% for id in children %}
        <li>{{ comp.link.place({ place: id, prefix: place_prefix }) | safe }}</li>
      {% endfor %}
    </ul>
  </toggle-section>
  {% endif %}
</nav>