---
css: |
  nav.nav-block {
    --background: #888;
    --colour: #eee;
    background: var(--background);
    color: var(--colour);
    padding: 0.5em;
    font-size: 0.7em;
    & a {
      color: inherit;
    }
    & ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      column-gap: 1.5em;
    }
    & h3 {
      border-top: 1px solid var(--colour);
      & + * {
        padding-bottom: 1em;
      }
    }
  }
---
{% set heading_level = 2 %}
<nav class='nav-block' data-dependencies="/assets/js/inclusive.js">
  <h{{ heading_level }}>Navigation</h{{ heading_level }}>
  {% if dir.place or false %}
  <toggle-section>
    <h{{ heading_level + 1 }}>Place</h{{ heading_level + 1 }}>
    {{ comp.link.place({ place: place_key }) | safe }}
  </toggle-section>
  {% endif %}
  {% if dir.spotlight or false %}
  <toggle-section id="spotlight-at-place">
    <h{{ heading_level + 1 }}>Spotlights</h{{ heading_level + 1 }}>
    <ul>
      {% for spotlight_key in spotlights | keys %}
        {% if spotlights[spotlight_key].draft !== true %}
        <li>
          <a href="/spotlight/{{ spotlight_key }}/{{ place_key }}/">{{ spotlights[spotlight_key].name }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </toggle-section>
  {% endif %}
  {% if ancestors and ancestors.length > 0 %}
  <toggle-section>
    <h{{ heading_level + 1 }}>Upper geographies</h{{ heading_level + 1 }}>
    <ul id="contained-by-places">
      {% for id in ancestors | reverse %}
      <li>{{ comp.link.place({ place: id, prefix: place_prefix }) | safe }}</li>
      {% endfor %}
    </ul>
  </toggle-section>
  {% endif %}
  {% if children and children.length > 0 %}
  <toggle-section>
    <h{{ heading_level + 1 }}>Lower geographies</h{{ heading_level + 1 }}>
    <ul id="contains-places">
      {% for id in children %}
        <li>{{ comp.link.place({ place: id, prefix: place_prefix }) | safe }}</li>
      {% endfor %}
    </ul>
  </toggle-section>
  {% endif %}
</nav>