<p>
  NEIF is a prototype developed in partnership by the JRF's Insight Infrastructure and <a href="https://open-innovations.org/">Open Innovations</a>.
  It is a data and insight hub that, by linking up existing open-source datasets, aims to provide ease of access to data that would be,
  otherwise, scattered across different websites, and that would require time, skills and resources to be joined up, analysed and visualised.
</p>

<p>
Where this prototype is different from other data platforms and repositories is in its ability to:
</p>

<ul>
  <li>
    Bring cohesively together and link up disparate data sources
  </li>
  <li>
    Automatically update in real time data sources the moment a new release is available
  </li>
  <li>
    Allow users to navigate its content by geography as well as thematic areas we refer to as 'spotlights'.
    These are not complete definitions of a particular theme, rather an exploration of how we could bring
    together various datasets which speak to this issue.
  </li>
  <li>
    Provide, where possible and statistically sound, estimates at local level for data that would otherwise
    be available only at Regional or Local Authority level.
  </li>
</ul>

<p>
  When developing this platform, we decided to limit its content to {{ metadata.catalogue | length }} data sources
  and identified {{ search.pages("spotlight main") | length }} spotlights.
  This is enough to get us going, test the concept and the data architecture required to build it.
</p>