<footer id='site-footer'>
  <div class="page-flow">
    <p>{{ metas.site }} created by:</p>
    <ul class="contributors">
      <li><img src="/assets/images/jrf_logo.svg" inline alt="Joseph Rowntree Foundation logo"></li>
      <li><img src="/assets/images/oi_logo.svg" inline alt="Open Innovations logo"></li>
    </ul>
  </div>
  <div class="page-flow">
    <p>This site is under active development.
    Please
    <a href="mailto:insight.infrastructure@jrf.org.uk?cc=hello@open-innovations.org&subject=%5BFeedback%20on%20Northern%20England%20Insight%20Finder%5D%20{{ title }}&body=page%3A%20{{ title }}%0Aurl%3A%20{{ url }}%0A---%0A%5BPlease%20replace%20this%20message%20with%20your%20feedback%5D">send your feedback</a>
    via email.
    </p>
  </div>
</footer>