<footer id='site-footer'>
  <div class="page-flow">
    <p>{{ metas.site }} created by:</p>
    <ul class="contributors">
      <li><img src="/assets/images/jrf_logo.svg" inline></li>
      <li><img src="/assets/images/oi_logo.svg" inline></li>
    </p>
  </div>
</footer>