<footer id='site-footer'>
  <div class="page-flow">
    <p>{{ metas.site }} created by:</p>
    <ul class="contributors">
      <li><img src="/assets/images/jrf_logo.svg" inline alt="Joseph Rowntree Foundation logo"></li>
      <li><img src="/assets/images/oi_logo.svg" inline alt="Open Innovations logo"></li>
    </ul>
  </div>
</footer>