<header>
  <div class="page-flow">
    <div>
      <p><a href="/">{{ metas.site }}</a></p>
      <h1>{{ title }}</h1>
    </div>
    <img src="/assets/images/jrf_logo.svg" inline>
    <img src="/assets/images/oi_logo.svg" inline>
  </div>
</header>
<nav>
  <ul class='page-flow button'>
    <li><a href="/people/">People</a></li>
    <li><a href="">Living Standards</a></li>
    <li><a href="">Economic Security</a></li>
    <li><a href="">Society</a></li>
    <li><a href="">Housing</a></li>
    <li><a href="/cities/">Cities, Towns and Neighbourhoods</a></li>
  </ul>
</nav>
