<header>
  <div class="page-flow">
    <div>
      <p><a href="/">{{ metas.site }}</a></p>
      <h1>{{ display_title or title }}</h1>
    </div>
  </div>
</header>
<nav>
  {{ comp.main_menu() | safe }}
</nav>
